# Generic
node_modules/
dist/
build/
bin/
obj/
target/
.venv/
venv/
__pycache__/
*.log
*.exe
*.dll
*.so
*.dylib
.DS_Store

# Python
.pytest_cache/
.mypy_cache/
*.pyc

# Rust
/rust/target/
/rust/Cargo.lock

# Go
/go/go.sum

# .NET
/dotnet/bin/
/dotnet/obj/

# Java
/java/target/

# PHP
/php/vendor/
/php/composer.lock
