# Generic & IDEs
node_modules/
dist/
build/
bin/
obj/
target/
publish/
.venv/
venv/
__pycache__/
*.log
*.exe
*.dll
*.so
*.dylib
.DS_Store
.vscode/
.idea/
*.swp
*.bak

# Python
.pytest_cache/
.mypy_cache/
*.pyc
.python-version

# Rust
/rust/target/
/rust/Cargo.lock

# Go
/go/go.sum
rdw-server-*

# .NET
/dotnet/bin/
/dotnet/obj/
*.user
*.suo

# Java
/java/target/
.classpath
.project
.settings/

# PHP
/php/vendor/
/php/composer.lock
